* {
    box-sizing: border-box;
    max-width: 1024px;
    margin: 0 auto;
}

body {
    background-color: black;
}

header {
    display: block;
    position: relative;
    font-family: 'Lucida Sans';
    font-size: 200%;
    color: black;
    background-color: rgb(105, 105, 105);
}

header::after {
    display: block;
    clear: both;
    content: '';
}

.bkd-img {
    position: absolute;
    top: 0;
    border-left: 2px solid rgb(141, 151, 160);
    border-right: 2px solid rgb(141, 151, 160);
    width: 100%;
}

.motto {
    padding-left: 5px;
}

/* section {
    display: flex;
    align-items: center;
}

div {
    width: 20%;
} */

.name {
    font-family: Tahoma;
    text-align: center;
    font-size: 40px;
    margin: 5px 0px 10px 10px;
    /* border: 2px solid black; */
}

.links {
    float: right;
    margin-bottom: 5px;
}

.links a {
    text-decoration: none;
    color: black;
    margin: 5px;
}

.links a.active {
    border-bottom: 2px solid;
}

main {
    font-family: 'Lucida Sans';
    color: rgb(255, 115, 0);
    padding-top: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.profile-pic {
    height: 180px;
    width: auto;
    margin-right: 20px;
    border: 2px solid;
    padding: 3px;
}

h2 {
    font-size: 40px;
}

.mission_statement {
    font-size: 25px;
}

.quote {
    font-family: fantasy;
    color: dimgray;
    text-align: center;
    font-size: 250%;
    margin-top: 150px;
    border-top: 3px solid;
    border-bottom: 3px solid;
}