* {
    box-sizing: border-box;
    max-width: 1024px;
    margin: 0 auto;

}

body {
    background-color: black;
    border: 2px solid rgb(255, 115, 0);
    height: fit-content;
}

header {
    display: inline-block;
    position: fixed;
    width: 100%;
    top: 0;
    margin-left: -2px;
    font-family: 'Lucida Sans';
    font-size: 200%;
    color: ivory;
    background-color: rgb(45, 45, 45);
    border: 2px solid rgb(255, 115, 0);
}

header::after {
    display: block;
    clear: both;
    content: '';
}

.bkd-img {
    position: absolute;
    top: 0;
    width: 100%;
}

.motto {
    padding-left: 5px;
}

.name {

    font-family: Tahoma;
    font-display: block;
    text-align: center;
    font-size: 40px;
    color: black;
    text-shadow: -1px 0 ivory, 0 1px ivory, 1px 0 ivory, 0 -1px ivory;
}

.links {
    float: right;
    margin-bottom: 5px;
}

.links a {
    text-decoration: none;
    color: ivory;
    margin: 5px;
}

.links a.active {
    border-bottom: 2px solid;
}

main {
    font-family: 'Lucida Sans';
    color: rgb(255, 115, 0);
}

.home_content {
    padding: 30px;
    margin-top: 130px;
    display: flex;
    align-items: center;
    margin-bottom: 250px;
}

.profile-pic {
    height: 180px;
    width: auto;
    margin-right: 20px;
    border: 2px solid;
    padding: 3px;
}

h2 {
    font-size: 40px;
}

.mission_statement {
    font-size: 25px;
    color: ivory;
}

footer {
    position: relative;
    font-family: fantasy;
    width: 100%;
    color: dimgray;
    text-align: center;
    font-size: 250%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 3px solid rgb(255, 115, 0);
    border-bottom: 3px solid rgb(255, 115, 0);
}